<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img scr="./public/images/CCG_Logo_new" alt="CCG Logo">
                
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Get Started</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
    
    </div>
    </nav>