#navTop{
    background-color:rgb(0, 0, 0);
    font-size:large;
    font-weight: bold;
    color: rgb(255, 255, 255);

}



body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: large;
}
div {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}
ul{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
li{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
ol{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#navTop{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: thin solid white;
    
}
a{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  
}

.list-group-item{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom:thin solid white;
}
#breadcrumb{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   
}
.card{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: thin solid white;
    border-right:thin solid white;
}
#projectNav{
    border-bottom: thin solid white;
    border-right: thin solid white;
}
.table{
    color:white;
}
#sidebarTop{
    border-right: thin solid white;
}

#modalLoginForm{
    border: thin solid white;
    background-color: thistle;
}

