body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: rgb(0,111,81);
}
li {
  display: inline;
  padding: 50px;
}
#ahuTable {
  border-style: solid;
  border-spacing: 5px;
}

td {
  padding: 10px;
}